@media only screen and (max-width: 599px) {
    
  /* ===== Header & Navbar Style ===== */
  
  .navbar-container  {
    align-items: center;
    justify-content: center;
  }

  .logo-academy-container {
    display: none;
  }

  .navbar-list-container {
    display: none;
  }
  
  .navbar-mobile-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .navbar-mobile-container img {
    width: 32px;
  }

  /* ===== Banner Style ===== */

  .banner-container {
    display: flex;
    flex-direction: column;
  }

  .banner-left {
    padding: 0;
  }

  .banner-right {
    margin: 3.2vw 1.5vw;
  }

  .banner-right h1 {
    font-size: 8vw;
    line-height: 9vw;
    width: 80%;
  }

  .banner-right p {
    font-size: 5vw;
    width: 80%;
    margin: 3.2vw 0;
  }

  .banner-right a {
    width: 100%;
    font-size: 5vw;
    font-weight: 600;
    background-color: #9B9B9B;
    margin: 3.2vw 0;
  }

  .banner-right a:active {
    background-color: #4A4A4A;
  }

  /* ===== Information Style ===== */

  .information-container {
    grid-template-columns: 1fr;
    border-bottom: 1px solid #dcd9d9;
  }

  .information-left {
    display: none;
  }

  .information-right {
    padding: 16px;
  }

  .information-list {
    display: block;
    border: none;
    margin: 32px auto;
  }

  .information-list:hover {
    background-color: #fff;
}

  .list-image-desktop {
    display: none;
  }

  .list-image-moblie {
    display: block;
    width: 100%;
    height: auto;
  }

  .information-list-text {
    padding-left: 16px;
  }

  .information-list-text h1 {
    font-size: 6vw;
  }

  .information-list-text p {
    margin: 6px 0;
  }

  .information-list-text p,
  .information-list-text a {
    font-size: 4vw;
    width: 85%;
  }

  /* ===== Start Learning Style ===== */

  .start-learning-container {
    padding: 32px 16px;
    background-color: #FFF;
    border-bottom: 1px solid #dcd9d9;
  }

  .learning-text h1 {
    font-size: 7.5vw;
    margin-bottom: 16px;
  }

  .learning-buttom {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .course-container {
    background-color: #D8D8D8;
    margin: 4px 0;
  }

  .course-container:hover {
    cursor: pointer;
    box-shadow: none;
  }

  .course-image {
    display: none;
  }

  .course-details {
    padding: 16px;
  }

  .course-details h1 {
    font-size: 4.5vw;
  }

  .course-details p {
    display: none;
  }

}
  