@media only screen and (max-width: 599px) {
    
  /* ===== Header & Navbar Style ===== */
  
  .navbar-container  {
    align-items: center;
    justify-content: center;
  }

  .logo-academy-container {
    display: none;
  }

  .navbar-list-container {
    display: none;
  }
  
  .navbar-mobile-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .navbar-mobile-container img {
    width: 32px;
  }

  /* ===== Banner Style ===== */

  .banner-container {
    display: flex;
    flex-direction: column;
  }

  .banner-left {
    padding: 0;
  }

  .banner-right {
    margin: 3.2vw 1.5vw;
  }

  .banner-right h1 {
    font-size: 8vw;
    line-height: 9vw;
    width: 80%;
  }

  .banner-right p {
    font-size: 5vw;
    width: 80%;
    margin: 3.2vw 0;
  }

  .banner-right a {
    width: 100%;
    font-size: 5vw;
    font-weight: 600;
    background-color: #9B9B9B;
    margin: 3.2vw 0;
  }

  .banner-right a:active {
    background-color: #4A4A4A;
  }

}
  