:root {
    --textColor: #4A4A4A;
    --pSize: 1.5vw;
    --pSection: 1.2vw;
    --hSize: 3.5vw;
    --hSection: 2.5vw;
    --ButtonHover: #b29c9c;
    --pContentColor: #868686;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

h1, p {
    color: var(--textColor);
}

/* ===== Header & Navbar Style ===== */

.navbar-container {
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    position: fixed;
    width: 100%;
    padding: 0 24px;
    top: 0;
}

.academy-logo {
    margin: 2px;
    width: 2.3rem;
}

.logo-academy-container h1 {
    font-size: 2vw;
    text-transform: uppercase;
    color: #000;
}

.logo-academy-container h1 span {
    font-weight: 400;
    color: #9B9B9B;
}

.navbar-list li {
    list-style-type: none;
    margin: 0 8px;
}

.navbar-list li a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--textColor);
}

.navbar-list li a:hover {
    font-weight: 600;
}

.navbar-mobile-container {
    display: none;
}

/* ===== Banner Style ===== */

.banner-container {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #D8D8D8;
}

    /* Left */
.banner-left {
    padding: 2rem 1.5rem;
}

.banner-left img {
    max-width: 100%;
    height: auto;
}

    /* Right */
.banner-right {
    padding: 12px;
    justify-content: center;
}

.banner-right h1 {
    font-size: var(--hSize);
    font-weight: 900;
    width: 90%;
    line-height: 4vw;
}

.banner-right p {
    font-size: var(--pSize);
    font-weight: 600;
    width: 70%;
    margin: 2vw 0;
}

.banner-right a {
    font-size: var(--pSize);
    padding: 8px 0;
    width: 70%;
    text-align: center;
    background-color: var(--textColor);
    color: #fff;
    text-decoration: none;
}

.banner-right a:hover {
    background-color: var(--ButtonHover);
}

/* ===== Information Style ===== */

.information-container {
    display: grid;
    grid-template-columns: 60% 40%;
}

    /* left */
.information-left {
    border-right: 1px solid #D8D8D8;
    padding: 2vw 1.5vw;
}

.information-image img {
    max-width: 100%;
    height: auto;
}

.information-text h1 {
    margin: 1.5vw 0 1vw 0;
    font-size: var(--hSection);
}

.information-text p {
    font-size: var(--pSection);
    width: 83%;
    margin-bottom: 2vw;
    color: var(--pContentColor);
}

    /* right */
.information-right {
    padding: 2vw 1.5vw;
}

.information-list {
    display: grid;
    grid-template-columns: 35% 65%;
    border: 1px solid #D8D8D8;
    margin-bottom: 2px;
}

.information-list:hover {
    background-color: #D8D8D8;
}

.list-image-desktop {
    width: 100%;
    height: auto;
    padding: 1vw;
}

.list-image-moblie {
    display: none;
}

.information-list-text {
    justify-content: center;
    padding: 5px;
}

.information-list-text h1 {
    font-size: 1.6vw;
}

.information-list-text p {
    font-size: var(--pSection);
    margin: 0.8vw 0;
    color: var(--pContentColor);
}

.information-list-text a {
    font-size: var(--pSection);
    font-weight: 600;
    color: #3187E1;
    text-decoration: none;
}

/* ===== Start Learning Style ===== */

.start-learning-container {
    padding: 32px 72px;
    background-color: #EAEBEC;
}

.learning-text h1 {
    font-size: var(--hSection);
    margin-bottom: 32px;
}

.learning-buttom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course-container {
    background-color: #FFF;
    margin: 1rem;
    height: auto;
}

.course-container:hover {
    cursor: pointer;
    box-shadow: 10px 15px 32px 7px rgba(0,0,0,0.2);
}

.course-image img {
    max-width: 100%;
    height: auto;
}

.course-details {
    padding: 16px 16px 24px 16px;
}

.course-details h1 {
    font-size: 1.5vw;
}

.course-details p {
    font-size: 1vw;
    width: 63%;
    line-height: 1.4vw;
    color: var(--pContentColor);
}

.course-details :nth-child(2) {
    margin: 8px 0;
    text-transform: uppercase;
}

/* ===== Section Thesis exhibit Style ===== */

.thesisExhibit-header h1 {
    text-align: center;
    margin: 32px auto 16px auto;
    font-size: var(--hSection);
}

.thesisExhibit-container {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 16px 24px 32px 24px;
    border-bottom: 1px solid #dcd9d9;
}

.thesisExhibit-left {
    padding: 0 24px 24px 0;
}

.video-container {
    max-width: 100%;
    height: auto;
    padding-bottom: 24px;
}

.video-description-container h1 {
    font-size: 2.5vw;
}

.video-description-container p {
    font-size: var(--pSection);
    width: 84%;
    margin-top: 8px;
}

.play-list-container {
    display: grid;
    grid-template-columns: 35% 65%;
}

.play-list-container:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

.video-cover img {
    max-width: 100%;
    height: auto;
    padding: 16px;
}

.video-titles {
    justify-content: center;
}

.video-titles h1 {
    font-size: 1.6vw;
    width: 80%;
}

.video-titles p {
    font-size: 1.1vw;
    color: var(--pContentColor);
    margin-top: 8px;
    width: 75%;
}

/* ===== Footer Style ===== */

.copyright {
    padding: 16px 24px 5vw 24px;
    align-items: center;
    justify-content: space-between;
}

.copyright p {
    color: var(--ButtonHover);
    font-size: 1vw;
}

.copyright div a {
    color: var(--ButtonHover);
    text-decoration: none;
    margin: 5px;
    font-size: 1vw;
}