@media only screen and (min-width: 600px) and (max-width: 900px) {
    
  /* ===== Header & Navbar Style ===== */
  
  .navbar-container  {
    align-items: center;
    justify-content: center;
  }

  .logo-academy-container {
    display: none;
  }

  .navbar-list-container {
    display: none;
  }
  
  .navbar-mobile-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .navbar-mobile-container img {
    width: 32px;
  }

  /* ===== Banner Style ===== */
  .banner-left {
    padding: 3vw 2vw;
  }

  .banner-right h1 {
    font-size: 4vw;
    width: 100%;
  }

  .banner-right p {
    font-size: 2vw;
    width: 100%;
  }

  .banner-right a {
    font-size: 2vw;
    width: 95%;
  }

  /* ===== Information Style ===== */
  .information-text h1 {
    font-size: 3vw;
  }

  .information-text p {
    font-size: 1.5vw;
  }

  .information-list-text h1 {
    font-size: 2vw;
  }

  .information-list-text p,
  .information-list-text a  {
    font-size: 1.4vw;
  }

  /* ===== Start Learning Style ===== */
  .start-learning-container {
    padding: 3vw 5vw;
  }
  
  .learning-text h1 {
    font-size: 4vw;
    margin-bottom: 2.5vw;
  }

  .course-details {
    padding: 2vw 1vw 1.5vw 2vw;
  }

  .course-details h1 {
    font-size: 2.3vw;
  }

  .course-details p {
    font-size: 1.3vw;
    line-height: 1.9vw;
    width: 85%;
  }

  /* ===== Section Thesis exhibit Style ===== */
  
  .thesisExhibit-header h1 {
    margin: 3vw auto 1vw auto;
    font-size: 4vw;
  }

  .thesisExhibit-container {
    grid-template-columns: 1fr;
    padding: 1vw auto 3vw auto;
  }

  .thesisExhibit-left {
    padding: 0;
  }

  .video-container {
    padding-bottom: 1.8vw;
  }

  .video-description-container h1 {
    font-size: 4vw;
  }

  .video-description-container p {
    font-size: 2.2vw;
    width: 90%;
    margin-top: 8px;
  }

  .thesisExhibit-right {
    display: none;
  }

  /* ===== Footer Style ===== */
  .copyright {
    padding: 16px 24px 5vw 24px;
  }

  .copyright p {
    font-size: 1.5vw;
  }

  .copyright div a {
    margin: 2px;
    font-size: 1.5vw;
  }
}
  