@media only screen and (min-width: 600px) and (max-width: 900px) {
    
  /* ===== Header & Navbar Style ===== */
  
  .navbar-container  {
    align-items: center;
    justify-content: center;
  }

  .logo-academy-container {
    display: none;
  }

  .navbar-list-container {
    display: none;
  }
  
  .navbar-mobile-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .navbar-mobile-container img {
    width: 32px;
  }

  /* ===== Banner Style ===== */
  .banner-left {
    padding: 3vw 2vw;
  }
}
  